*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambria';
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 90px ;
    padding-top: 170px;
    align-items:flex-end;
    gap: 70px;


}
#left{
    height: 100%;
    width: 45%;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-bottom: 50px;
}

#left h1{
    /* font-size: 145px; */
    font-size: 8.6vw;
    font-weight: 500;
    font-family:sans-serif;
    /* line-height: 150px; */
    line-height: 8.8vw;
}
#bottom-left{
    /* height: 40%; */
    width: 100%;
   /* background-color:yellow ;*/

}
#color{
   /* background-color: blue;*/
    width: fit-content;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: center ;
    border-radius: 50px;
    border: 1px solid black;
}
#color h5{
    font-size: 20px; 
    margin-right: 10px;
    font-weight: 500;

}
#color1{
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 3px;
}
#color2{
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
}

#left h2{
    margin-top: 50px;
    /* font-size: 30px; */
    font-size: 2vw;
    margin-bottom:15px ;

}

#left p{
    /* font-size:20px ; */
    font-size: 1.2vw;
    width: 65%;
    font-weight: 600;
    color: #444;
    /* line-height: 30px; */
    line-height: 1.8vw;
}
#right{
    height: 90%;
    width: 50%;
    /* background-color: blue; */
    position: relative;
}
#right-top{
    height:80px ;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;

}
right-top h4{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
      
}
right-top h5{
    font-size: 16px;
}

right-top h5 i{
    background-color: gold;
}
#right img{
    width: 100%;
    height: fit-content;
    object-fit: cover  ;

}
#circle{
    position: absolute;
    height: 190px; 
    width: 190px;
    background-color: rgb(25, 25, 25);
    color: white;
    border-radius: 50%;
    right: -16%;
    top: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
     
}
#circle h5{
    font-size: 26px;
    font-weight: 400;
}
#rotated
{
    position: absolute;
    left:-10%;
    bottom: 4%;
    /* background-color: red;  */
    rotate: -90deg;
    transform-origin: 0 0; 
    font-size: 30px;
    font-weight: 600;
    top: 200%;
   
}
 @media(max-width:600px){
    #main{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content:flex-start ;
        padding: 40px;
        padding-top: 40px;
        align-items:flex-start;
        gap: 40px;
        /* background-color: red; */
        flex-direction: column;
    
    }
    #left{
        height:fit-content;
        width:100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        padding-bottom: 50px;
        gap:20px;
    }
    
    #left h1{
        /* font-size: 145px; */
        font-size:18vw;
        font-weight: 500;
        font-family:sans-serif;
        /* line-height: 150px; */
        line-height: 18vw;
    }
    #bottom-left{
        /* height: 40%; */
        width: 100%;
       /* background-color:yellow ;*/
    
    }
    #color{
       /* background-color: blue;*/
        width: fit-content;
        padding: 6px 10px;
        display: flex;
        align-items: center;
        justify-content: center ;
        border-radius: 50px;
        border: 1px solid black;
    }
    #color h5{
        font-size: 13px; 
        margin-right: 5px;
        font-weight: 500;
    
    }
    #color1{
        height: 12px;
        width: 12px;
        background-color: burlywood;
        border-radius: 50%;
        margin: 3px;
    }
    #color2{
        height: 12px;
        width: 12px;
        background-color: brown;
        border-radius: 50%;
    }
    
    #left h2{
        margin-top: 20px;
        /* font-size: 30px; */
        font-size: 3vw;
        margin-bottom:8px ;  
    
    }
    
    #left p{
        /* font-size:20px ; */
        font-size: 2.1vw;
        width: 85%;
        font-weight: 600;
        color: #444;
        /* line-height: 30px; */
        line-height: 2.6vw;
    }
    #right{
        height:fit-content;
        width: 100%;
        /* background-color: rgb(49, 49, 242); */
        position: relative;
        display: flex;
        flex-direction: column-reverse;

    }
    #right-top{
        height:60px ;
        width: 100%;
        /* background-color: bisque; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* padding-right: 20px; */
        padding-right: 0px;
    
    }
    right-top h4{
        font-size: 26px;
        font-family: sans-serif;
        font-weight: 600;
          
    }
    right-top h5{
        font-size: 15px;
    }
    
    right-top h5 i{
        background-color: gold;
    }
    #right img{
        width: 100%;
        height: 70%;
        object-fit: cover  ;
        border-radius: 5px;
    
    }
    #circle{
        position: absolute;
        height: 100px; 
        width: 100px;
        background-color: rgb(25, 25, 25);
        color: white;
        border-radius: 50%;
        right: -10%;
        top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* transform: translate(50%, -50%);
          */
    }
    #circle h5{
        font-size: 14px;
        font-weight: 400;
    }
    #rotated
    {
        position: absolute;
        left:0%;
        /* bottom: 4%; */
        /* background-color: red;  */
        /* rotate: -90deg; */
        rotate: 0deg;
        transform-origin: 0 0; 
        font-size: 30px;
        font-weight: 600;
        top: -10%;
       
    }
 }